@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --font-primary: "Baloo Da 2", serif;
    --font-second: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}
html{
    scroll-behavior: smooth;
  }
.sandwich{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index:100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.show-menu .sandwich{
    right: 16rem;
}
.line{
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}
.show-menu #line1{
    transform: rotate(45deg) translate(0.3rem, 0.45rem)
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(0.3rem, -0.45rem)
}
.sandwich span::before{
    content: "";
    position: absolute;
    border-right: 0.5rem solid #6a3093;
    border-top:  0.5rem solid transparent;
    border-left:  0.5rem solid transparent;
    border-bottom:  0.5rem solid transparent;
    left: -1rem;
}

.sandwich span{
    display: flex;
    position:absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    background-color: #6a3093;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    font-family: var(--font-action);
    opacity: 0;
}

.show-menu .sandwich:hover span{
    opacity: 1;
}


header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 20s;
}
@keyframes zoom{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
.banner {
    position: absolute;
    top: 30%;
    width: 100vw;
    text-align: center;
}

.banner h1 {
    color: #fff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5s forwards;
    opacity: 0;
    
}

.banner p {
    font-family: var(--font-second);
    color: #fff;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.7s forwards;
    opacity: 0;
}

.banner button {
    font-family: var(--font-action);
    color: #FFF;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background: #6a3093;  /* fallback for old browsers */
    padding: 1rem 3rem;
    border:none;
    border-radius: 8px; 
    cursor: pointer;
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
    transition: color 1s;
    }
.banner i{
    margin-right: .3rem;
}
.banner button:hover{
    opacity: 0.85;
    font-family: var(--font-action);
    font-weight: bold;
    color: #000;
    border:none;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateX(0) rotateY(0);
        opacity: 1;
    }
}
.sideBar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 80;
}
.sideBar span{
    text-transform: uppercase;

}
.show-menu .sideBar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-item{
    text-align: center;
    margin-bottom: 0.5rem;
}
.menu-link{
    font-family:var(--font-action) ;
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}
.menu-link:hover{
    color:#6a3093 ;
}
.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-media i{
    background-color: #6a3093;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}
.social-media i:hover{
    background-color: #a044fa;
}
  .knowledges {
    display: flex !important;
    flex-direction: column-reverse;
    width: 50%;
    margin: auto;
    gap: 2rem;
    margin-top:5%;
  }

  @media(min-width: 1025px){
    .knowledges {
        height: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(16, 1fr) !important;
        grid-template-rows: repeat(6, 6rem) !important;
        row-gap: 0.5rem !important;
        width: 100% !important;
        margin-bottom: 10%;

    }

    .projects{
        display: flex !important;
        justify-content: space-evenly !important;
        align-items: center !important;
        flex-direction: row !important;
    }
    .social-list ul{
       flex-direction: row !important;
    }
}

    

  
  .knowledge:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / -3;
  }
  
  .knowledge:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
  }
  
  .knowledge:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5 / -1;
  }
  
  .knowledge:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / -3;
  }
  
  .knowledge:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 3 / 5;
  }
  
  .knowledge:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / -1;
  }

  .section-knowledges {
    background-color: #f5f5f5;
    height: 100%;
  }
  
  .section-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
  }
  
  .knowledges-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
  }
  
  .knowledges-header i {
    font-size: 2.5rem;
  }
  
  .knowledges-header h3 {
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
  }
  
  .knowledges-text {
    font-family: var(--font-secundary);
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .knowledges-img-wrapper{
      grid-column: 7 / 11;
      grid-row: 2 / 6;
      width: 100%;
  }
  .knowledges-img-wrapper img{
      object-fit: cover;
      position: relative;
      right: 2px;
      box-shadow:  inset 0 0 2rem rgb(240, 239, 232), 0 0 2rem rgb(14, 1, 1);
      width: 100%;
      grid-row: 2 / 6;  
    }
    .knowledge-text p{
        font-family: Ballo Da 2;
        font-size: 1rem;
        font-weight: 600;
    }
    .projects{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .card{
        position: relative;
        width: 20rem;
        height: 35rem;
    }
    .card-img-wrapper{
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
    }
    .card-img-wrapper img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 1.5;
        box-shadow:  inset 0 0 2rem rgb(240, 239, 232), 0 0 2rem rgb(14, 
        1, 1);
        transition: opacity .3s;

    }
    .card-img-wrapper img:hover{
        box-shadow:  inset 0 0 3rem rgb(240, 239, 232), 0 0 3rem 
        rgb(14, 
         1, 1);
         opacity: .5;
         
    }
    .card-info{
        position: absolute;
        bottom: 0;
        padding:  1.5rem;
        text-shadow: 0 0.2rem 0.3rem rgba(0, 0 , 0, .4);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }
    
    .card-info h2{
        font-family: var(--font-primary);
        font-size: 3rem;
        font-weight: bolder;
        color: #ff4081;
    }
    .card-info h3{
        font-family: var(--font-second);
        font-weight: bolder;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #fff;
    }
    .card-info p{
        font-family: var(--font-action);
        color: #000;
        font-weight: bolder;
        text-shadow: 0 0 2rem 3rem rgba(0, 0, .4);
        width: 80%;
        margin-bottom: 2px;
        transition: opacity .2s;
    }
    .card-info button{
        width: 8rem;
        height: 2.5rem;
        cursor: pointer;
        background-color:  #ff4081;
        font-family: var(--font-action);
        font-size: .8rem;
        color: #eee;
        border-radius:  .5rem;
        border: none;
        box-shadow: 0.1rem .2rem rgba(0, 0 , 0, .4);
    }
    .card-info button:hover{
        box-shadow:  inset 0 0 3rem rgb(255, 0, 0), 0 0 .5rem 
        rgb(14, 
         1, 1);
         transition: 1.5s;
    }

    .card:hover .card-info{
        bottom: 2rem;
        opacity: 1;
        visibility: visible;
    }

    footer{
        width: 100%;
        height: 8rem;
        background-color:#17181b;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.8rem;
    }
    .footer-content{
        width: 60%;
        display: flex;
        justify-content: space-around;
    }


    .footer-content p{
        font-family: var(--font-second);
        color: #f5f5f5;
        font-size: 1rem;
    }
    .social-list a{
        margin: 0 2rem;
        color: #f5f5f5;
        font-size: 1.3rem;
    }

    .social-list span{
        margin: 0 0 0 .5rem;
        color: #f5f5f5;
    }

    .social-list ul{
        display: flex;
        flex-direction: column;
        margin-top: -.5rem;
        justify-content: space-between;
    }

    #link-up{
        position: fixed;
        right: 3rem;
        bottom: 3rem;
        width: 3rem;
        height: 3rem;
        background-color: #6a3093;
        color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        box-shadow: 0 0 .1rem 0.1rem #000000;
    }


